<!DOCTYPE html>
<head>
  <title>{{title}}</title>
  {{> layouts/_css }}

</head>
<body>
  <div id="wrap">

  {{> layouts/_nav}}

  {{{content}}}
  </div>
  {{> layouts/_scripts}}
  {{> layouts/_footer}}
</body>
</html>
